[run]
branch = True
source = batman_curve

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
ignore_errors = True
omit =
    batman_curve/_version.py
